body {
    font-family: 'Afacad', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, ul {
  font-size: 1.25em;
}

header {
    text-align: center;
    padding: 1.25em;
}

header h1 {
    font-family: 'Afacad', sans-serif;
    font-size: 2em;
}

header h2 {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.2em;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 4em;
}

.profile img {
    width: 400px;
    height: 250px;
    background-color: #ddd;
    margin-right: 20px;
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

nav ul li {
    font-size: 20px;
    margin: 0 30px;
    padding: 15px 0px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.content ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 10px; 
    list-style: none;
    padding: 0;
}

.content li {
    display: flex;
    align-items: center;
    font-size: 1em;
}


section {
    margin-top: 30px;
}

section h2 {
    margin-bottom: 10px;
}

section .content {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px 0;
}

.contact-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;  
}

.contact-item {
    width: 48%;
}

.contact-links ul {
    list-style: none;
    padding: 0;
}

.contact-links ul li {
    margin-bottom: 10px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid black;
    background-color:#dcd8ff;
    font-weight: bold;
    width: 100% !important;
}

#pfp {
  height: 400px; 
  width: auto;
}

#first-name {
  font-size: 70px;
  padding-left: 10px;
}

#last-name {
  font-family: "Luxurious Script", serif;
  font-weight: normal;
  margin-top: -1em;
  font-size: 90px;
  padding-left: 0.15em;
}

#tagline {
  margin-top: -45px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px 10px;
  align-items: left;
  font-weight: normal;
}

/* Contact Links */ 
.contact-links, .content ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-item ul, .content ul {
    padding: 0;
    list-style: none;
}

.contact-item li, .content li {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.contact-item i {
    margin-right: 0.25em;
}

/* Skill Bars */
.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
}

.skill span {
    margin-bottom: 5px;
    font-size: 1.2em;
}

.skill-bar {
    width: 50%;
    height: 15px;
    background-color: white;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 5px;
}

.fill {
    height: 100%;
    background-color: #424242;
    border-radius: 4px;
    width: 0%;
    transition: width 2s ease-out;  
}

/* Styling for Contact Cards */
.contact-links {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  overflow-x: auto; 
}

.contact-card {
  background-color: #fff;
  height: 230px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.material-symbols-outlined {
  color: #303030 !important;
}

.contact-card span {
  font-size: 3em;
  margin-bottom: 1em;
  color: #007bff;
}

.contact-card h3 {
  font-size: 20px;
  margin: 0.5em 0;
}

.contact-card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.contact-card a:hover {
  text-decoration: underline;
}

.contact-card p {
  font-size: 18px;
  color: #555;
  margin-top: 0.5em;
  line-height: 1.4;
}

/* Styling for Project and Experience Cards */
.project-card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.project-image {
  max-width: 100%;
  height: 250px;
  width: autox;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
  overflow: hidden;
}

.project-details h3 {
  font-size: 20px;
  margin: 0;
}

.project-details span {
  font-size: 18px;
  color: #777;
  margin-top: -0.4em;
  display: block;
}

.project-details p {
  font-size: 16px;
  color: #555;
  margin-top: 1em;
  line-height: 1.6;
}

/* Accessibility Meny */
#accessibility-icon {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: #34d399;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#accessibility-icon:hover {
  background-color: #73f5c5;
}

#accessibility-menu {
  position: fixed;
  bottom: 5rem;
  right: 1.75rem;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
  display: none;
}

#accessibility-menu h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

#accessibility-menu button {
  display: block;
  border: none;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #1b48f5;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

#accessibility-menu button:hover {
  background-color: #6482f4;
}

.hidden {
  display: none;
}

.accessibility-caption {
  visibility: hidden;
  width: 9.375rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  position: absolute;
  top: 50%;
  left: -10.5rem;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}

#accessibility-icon:hover .accessibility-caption {
  visibility: visible;
  opacity: 1;
}

.accessibility-caption::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -0.3125rem;
  border-width: 0.3125rem;
  border-style: solid;
  border-color: transparent transparent transparent #333;
}

.dyslexia-friendly-font {
  font-family: 'Open Dyslexic', sans-serif;
}

/* Responsive Design: Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; 
        align-items: flex-start;
        padding: 10px;
    }

    nav ul li {
        margin: 10px 0; 
    }

    .profile {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .profile img {
        width: 80%;
        height: auto;
    }

    #first-name, #last-name {
        font-size: 5em; 
    }

    #tagline {
        font-size: 1.2em; 
        text-align: center;
        margin-top: 10px; 
    }

    p, ul {
        font-size: 1em; 
    }

    .project-card {
        flex-direction: column; 
        align-items: center;
    }

    .project-image {
        margin: 0 0 10px 0;
        width: 100%; 
    }

    .project-details {
        text-align: center;
    }

    .name {
        font-size: 3em; 
        text-align: center;
        margin-bottom: 5px; 
    }

    .line {
        width: 80%;
        margin: 10px auto; 
        border: none;
        border-top: 2px solid black;
    }
}

/* Contact Form */
#footer-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 50px;
  padding-left: 100px;
}

input,
textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

#submit-form {
  width: 5rem;
  padding: 10px;
  margin-top: 20px;
  background-color: #34d399;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit-form:hover {
  background-color: #73f5c5;
}

#role, #dates {
  font-size: 20px;
}

#description {
  font-size: 18px;
}
